<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{site.author}}">

    <title>{{{page.title}}} &mdash; {{site.title}}</title>

    <link rel="stylesheet" href="{{relative page.dest site.componentsFolder}}/highlight/src/styles/github.css" />
    <link rel="stylesheet" href="{{relative page.dest site.componentsFolder}}/normalize-css/normalize.css" />

    <link rel="stylesheet" href="{{relative page.dest site.cssFolder}}/{{site.cssMainFile}}.css" />

    {{#if page.styles}}
      {{#each page.styles}}
        <link rel="stylesheet" href="{{../../site.cssFolder}}/{{.}}.css" />
      {{/each}}
    {{/if}}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="ksdg-Page">

    <div class="ksdg-Page-header">
    {{> navbar }}
    </div>

    <div class="ksdg-Page-body">
      {{> body }}
    </div><!-- /.container -->

    {{> scripts }}
  </body>
</html>
