<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="{{site.author}}">

    <title>{{{page.title}}} &mdash; {{site.title}}</title>

    <link rel="stylesheet" href="{{pathShift (relative page.dest site.cssFolder)}}/bundle.css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />

    {{#if page.styles}}
      {{#each page.styles}}
        <link rel="stylesheet" href="{{../../site.cssFolder}}/{{.}}.css" />
      {{/each}}
    {{/if}}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
{{log guidelines}}
  <body class="ksdg-Page">

    <header class="ksdg-Page-header ksdg-Header">
      <a href="{{pathShift (relative page.dest 'index.html')}}" class="ksdg-Header-title">Kuali Student Design Guide</a>
      <div class="ksdg-Header-body">
        <nav class="ksdg-Header-nav">
          <a class="ksdg-Header-navItem{{#if patterns}} ksdg-Header-navItem--active{{/if}}"
            href="{{pathShift (relative page.dest 'patterns/index.html')}}">Patterns</a>
          <a class="ksdg-Header-navItem{{#if guidelines}} ksdg-Header-navItem--active{{/if}}"
              href="{{pathShift (relative page.dest 'guidelines/index.html')}}">Guidelines</a>
        </nav>
        <span class="ksdg-Header-version">{{site.version}}</span>
      </div>
    </header>

    <div class="ksdg-Page-body">
      {{> body }}
    </div>

    {{> scripts }}
  </body>
</html>
