---
layout: default.hbs
---

<h1 class="ksdg-Page-title">{{page.title}}</h1>

{{#markdown}}
{{{description}}}

## Example
{{/markdown}}

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">UI</figcaption>
  <div class="ksdg-Example-render">
{{{partial (concat this.basename '.pattern')}}}
  </div>
</figure>

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">HTML</figcaption>
{{#markdown}}
```html
{{{partial (concat this.basename '.pattern')}}}
```
{{/markdown}}
</figure>

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">CSS</figcaption>
{{#markdown}}
```scss
{{{partial (concat this.basename '.style')}}}
```
{{/markdown}}
</figure>

{{> body}}

{{#if related}}
{{#markdown}}
## Related
{{/markdown}}
<ul>
{{#each related}}
  {{#each ../pages}}
    {{#is ../this this.basename}}
  <li>
    <a href="{{relative ../../../this.page.dest this.dest}}">{{titleize this.basename}}</a>
    ({{titleize this.data.categories}}):
    {{{this.data.description}}}
  </li>
    {{/is}}
  {{/each}}
{{/each}}
</ul>
{{/if}}
