---
layout: default.hbs
---

<nav class="ksdg-Page-nav ksdg-Nav">
  <h1 class="util-Visibility-screenReadersOnly">Patterns</h1>
{{#each categories}}
  <h2 class="ksdg-Nav-title">{{titleize category}}s</h2>
  <div class="ksdg-Nav-list">
    {{#each pages}}
    <a class="ksdg-Nav-item{{#is ../../page.dest dest}} ksdg-Nav-item--active{{/is}}"
      href="{{relative ../../page.dest dest}}">{{data.title}}</a>
    {{/each}}
  </div>
{{/each}}
</nav>

<main class="ksdg-Page-main">

<div class="ksdg-Page-heading">
  <h1 class="ksdg-Page-title">{{page.title}}</h1>
  <span class="ksdg-Label">{{page.categories}}</span>
</div>

{{#markdown}}
{{{description}}}
{{/markdown}}

<div id="toc" class="ksdg-Nav-toc ksdg-Toc">
  <h2 class="ksdg-Toc-title">Contents</h2>
</div>

{{#markdown}}
## Example
{{/markdown}}

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">UI</figcaption>
  <div class="ksdg-Example-render">
{{{partial (concat this.basename '.pattern')}}}
  </div>
</figure>

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">HTML</figcaption>
{{#markdown}}
```html
{{{partial (concat this.basename '.pattern')}}}
```
{{/markdown}}
</figure>

<figure class="ksdg-Example">
  <figcaption class="ksdg-Example-title">CSS</figcaption>
{{#markdown}}
```scss
{{{partial (concat this.basename '.style')}}}
```
{{/markdown}}
</figure>

{{> body}}

{{#if related}}
{{#markdown}}
## Related
{{/markdown}}
<ul>
{{#each related}}
  {{#each ../pages}}
    {{#is ../this this.basename}}
  <li>
    <a href="{{relative ../../../this.page.dest this.dest}}">{{titleize this.basename}}</a>
    <span class="ksdg-Label ksdg-Label--small">{{this.data.categories}}</span>:
    {{{this.data.description}}}
  </li>
    {{/is}}
  {{/each}}
{{/each}}
</ul>
{{/if}}

</main>
